.gallery{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.gallery img{
    width: 22%;
    margin: 0 1.5% 20px;
    border-radius: 5px;
}

@media(max-width:800px){
    .gallery{
        flex-wrap: wrap;
    }

    .gallery img{
        flex-wrap: wrap;
        width: 48%;
        margin:0 1% 20px;
    }
}