*{
    font-family: sans-serif;
}


.hero{
    background:linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url("../images/hero.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.content{
    max-width: 600px;
    text-align: center;
}

button{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    border: 0;
    outline: none;

    color: #000;
    font-weight: bold;
}
.content p{
    margin: 20px 0px;
}

.content p, h1{
    color: #fff;
}

@media(max-width:600px){

    .content{
        width: 80%;
        line-height: 1.2;
        margin: auto;
    }
    .content h1{
        font-size: 15px;
    }

    .content p{
        font-size: 12px;

    }
    .hero{
        height: 100vh;
    }
}